.cardImageContainer {
  position: relative;
  display: block;
}
.cardContainer {
  position: relative;
  max-width: 480px;
  display: inline-block;
}
.cardImageContainer img {
  width: 100%;
  display: block;
}
.cardImageContainer::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  transition: all 0.4s;

  opacity: 0;
}

.cardContainer:hover .cardImageContainer::after {
  opacity: 0.25;
}
.listToolTip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  gap: 4px;
  transition: all 0.4s;
  opacity: 0;
}
.cardContainer:hover .listToolTip {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.listToolTip li {
  list-style-type: none;
  font-size: 24px;
}
