.textPrimary {
  font-weight: 400;
  font-size: 36px;
  border-bottom: 3px solid #000;
  padding-bottom: 8px;
  display: inline-block;
}
.textContainer {
  text-align: center;
  margin-bottom: 24px;
}
