.Swiper {
  height: 85vh;
  width: 100%;
}

.swiperSlide img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.textSlide {
  height: 100%;
  z-index: 2;
}
.bg1 {
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  background-image: url("../../img/home2-slide1.jpg");
  
}
.bg2 {
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  background-image: url("../../img/home2-slide2.jpg");
  position: relative;
}

.textPrimary {
  font-size: 72px;
  color: #fff;
  font-weight: 400;
  line-height: 75px;
  margin: 0 0 36px 0;
}

.textSecondary {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 42px;
}

.primaryButton {
  padding: 12px 24px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s;
}
.primaryButton:hover {
  background-color: #fff;
  color: black;
}
.textHeader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textHeader1 {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  text-align: left;
}
