.swiper-button-prev,
.swiper-button-next {
  color: #000;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
}
.swiper-button-prev::before {
  content: "\2190" !important;
  font-size: 32px;
  opacity: 0.75;
  line-height: 1;
}
.swiper-button-prev {
  left: 2px;
}

.swiper-button-next {
  right: 2px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-next::before {
  font-size: 32px;
  opacity: 0.75;
  line-height: 1;

  content: "\2192" !important;
}
